@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #0a0a0a;
}

.xterm-viewport::-webkit-scrollbar {
  width: 8px;
}

.xterm-viewport::-webkit-scrollbar-track {
  background: transparent;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 10px;
}

.xterm-viewport::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}
